<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

    <main>

        <section class="seccion-productos">
            <h2> <%= about %> </h2>
            <div id="contenedor-productos">
                
                <% productsArray.forEach(producto => { %>
                    <div class="card-producto">
                        <img src="<%=producto.imagen%>" alt="<%=producto.nombre%>">
                        <h4><%=producto.nombre%></h4>
                        <p>Id: <%=producto.id%></p>
                        <p>Categoria: <%=producto.categoria%></p>
                        <p>$<%=producto.precio%></p>
                    </div>

                <% }) %>

            </div>
        </section>
    </main>


